<a href="https://colab.research.google.com/github/fardilladr/Pemrograman-Dasar/blob/main/LATIHAN%208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Beberapa kode diatas digunakan untuk memanggil empat library utama yang biasa dipakai dalam proses pengolahan dan visualisasi data, yaitu :
- NumPy (np) Library yang digunakan untuk mengolah data numerik, terutama array dan operasi matematika.
- Pandas (pd) Library yang dipakai untuk mengolah data dalam bentuk tabel (CSV, Excel). Bisa membaca data, membersihkan, memilih kolom, dan membuat analisis sederhana.
- Matplotlib.pyplot (plt) Library untuk membuat berbagai grafik seperti garis, batang, pie chart, dan scatter plot.
- Seaborn (sns) Library visualisasi berbasis matplotlib dengan tampilan lebih rapi, modern, dan informatifâ€”cocok untuk analisis statistik.

In [ ]:
fardilladr_df = pd.read_csv('/content/mahasiswa.csv')

Karena sebelumnya kita sudah mengunggah file **mahasiswa.csv** ke dalam Google Colab, maka kode
 fardilladr_df = pd.read_csv('/content/mahasiswa.csv') digunakan untuk membaca file tersebut dan mengubahnya menjadi sebuah **DataFrame**. DataFrame yang terbentuk diberi nama **fardilladr_df**, dan melalui variabel inilah kita bisa melihat isi data, mengolah, membersihkan, ataupun melakukan analisis lebih lanjut terhadap data mahasiswa yang ada di file CSV tersebut.

In [ ]:
fardilladr_df.head()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

Setelah data CSV berhasil dimuat ke dalam DataFrame **fardilladr_df**, kita menggunakan fungsi .head() untuk melihat lima baris awal dari dataset. Cara ini membantu kita memeriksa apakah data sudah masuk dengan benar, sekaligus mengecek struktur dasar seperti nama kolom dan contoh isi tabel, sehingga kita bisa memastikan dataset siap diproses lebih lanjut.

In [ ]:
fardilladr_df.tail()

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

Fungsi .tail() digunakan untuk menampilkan lima baris terakhir dari data. Langkah ini membantu kita memastikan bahwa bagian akhir dataset terbaca dengan benar, memeriksa struktur serta format datanya, dan melihat apakah ada kejanggalan di baris paling bawah. Dengan meninjau baris awal dan akhir data, kita bisa memperoleh pemahaman umum tentang kondisi keseluruhan dataset sebelum melanjutkan ke prosesmanalisis berikutnya.

In [ ]:
fardilladr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

fardilladr_df.info() adalah fungsi dari library Pandas yang digunakan untuk menampilkan ringkasan struktur DataFrame. Fungsi ini memberikan informasi penting seperti jumlah baris dan kolom, nama setiap kolom, tipe data di tiap kolom, serta jumlah nilai yang tidak kosong. Dengan melihat hasil .info(), kita bisa memahami karakteristik data secara keseluruhan dan mengetahui apakah ada kolom yang perlu dibersihkan atau diperbaiki sebelum melanjutkan ke tahap analisis.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

fardilladr_df.isna().sum() adalah perintah dari library Pandas yang digunakan untuk mengecek jumlah nilai kosong (missing values) di setiap kolom DataFrame. Fungsi isna() akan menandai semua data yang kosong sebagai True, kemudian sum() menghitung berapa banyak nilai kosong tersebut per kolom. Hasilnya membantu kita mengetahui kolom mana yang perlu dibersihkan atau ditangani sebelum analisis dilakukan.

In [ ]:
print("Jumlah duplikasi: ", fardilladr_df.duplicated().sum())

Jumlah duplikasi:  8

print("Jumlah duplikasi:", fardilladr_df.duplicated().sum()) digunakan untuk menghitung berapa banyak baris yang duplikat di DataFrame fardilladr_df. Jumlah duplikasi yang didapt 8, berarti ada 8 baris data yang sama persis dan perlu dibersihkan agar analisis lebih akurat.

In [ ]:
fardilladr_df.drop_duplicates(inplace=True)

fardilladr_df.drop_duplicates(inplace=True) digunakan untuk menghapus semua baris duplikat dari DataFrame fardilladr_df. Dengan menambahkan inplace=True, perubahan dilakukan langsung pada DataFrame tanpa perlu membuat variabel baru. Langkah ini memastikan data bersih dari pengulangan sehingga hasil analisis menjadi lebih akurat.

In [ ]:
print("Jumlah duplikasi: ", fardilladr_df.duplicated().sum())

Jumlah duplikasi:  0

 print("Jumlah duplikasi: ", fardilladr_df.duplicated().sum()) digunakan untuk mengecek kembali berapa banyak baris duplikat yang tersisa di DataFrame fardilladr_df setelah proses pembersihan. Perintah ini memastikan apakah semua duplikasi sudah berhasil dihapus sehingga dataset benar-benar bersih dan siap digunakan untuk analisis berikutnya.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

fardilladr_df.isna().sum() digunakan untuk mengecek kembali jumlah nilai kosong di setiap kolom pada DataFrame fardilladr_df setelah proses pembersihan data dilakukan. Dengan perintah ini, kita bisa memastikan apakah masih ada missing value yang perlu ditangani sebelum melanjutkan ke tahap analisis berikutnya.

In [ ]:
fardilladr_df['jurusan'] = fardilladr_df['jurusan'].fillna("Pembangkit Energi")

Kode ini digunakan untuk mengisi nilai kosong (missing values) pada kolom **jurusan** akan diisi dengan **"Pembangkit Energi"**. Dengan perintah ini, seluruh baris yang sebelumnya tidak memiliki data jurusan akan otomatis terisi, sehingga kolom tersebut menjadi lengkap dan siap digunakan dalam analisis tanpa adanya nilai kosong.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Digunakan untuk menghitung jumlah nilai kosong (*missing values*) pada setiap kolom di DataFrame fardilladr_df.
isna() akan menandai nilai kosong sebagai True, lalu sum() menjumlahkannya sehingga kita bisa mengetahui kolom mana yang memiliki data hilang dan perlu dibersihkan sebelum analisis.

In [ ]:
fardilladr_df['umur'] =fardilladr_df['umur'].fillna(23)


Digunakan untuk **mengisi nilai kosong (missing values)** pada kolom **`umur`** dengan angka **23**.
Perintah ini berasal dari **library Pandas**, di mana fillna(23) berfungsi mengganti semua nilai NaN pada kolom tersebut dengan nilai 23.
Tujuannya adalah agar tidak ada lagi data kosong di kolom umur, sehingga proses analisis data bisa berjalan tanpa error dan menjadi lebih akurat.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

fardilladr_df.isna().sum() digunakan untuk mengecek kembali jumlah nilai kosong di setiap kolom pada DataFrame fardilladr_df setelah proses pembersihan data dilakukan. Dengan perintah ini, kita bisa memastikan apakah masih ada missing value yang perlu ditangani sebelum melanjutkan ke tahap analisis berikutnya.

In [ ]:
fardilladr_df['nilai_akhir'] = pd.to_numeric(fardilladr_df['nilai_akhir'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

fardilladr_df['nilai_akhir'].mean() #mecari rata-rata

np.float64(88.15384615384616)


Fungsi pd.to_numeric() dari library Pandas akan mencoba mengubah setiap nilai dalam kolom tersebut menjadi angka. Jika ada data yang tidak bisa dikonversi (misalnya tulisan atau simbol), opsi errors='coerce' akan otomatis mengubahnya menjadi NaN, sehingga tidak mengganggu proses penghitungan. Setelah datanya valid sebagai angka, baris berikutnya fardilladr_df['nilai_akhir'].mean() digunakan untuk menghitung rata-rata dari kolom nilai_akhir. Dengan dua langkah ini, kita memastikan data dalam kolom tersebut sudah bersih dan dapat dihitung secara akurat.

In [ ]:
fardilladr_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB


Baris kode ini adalah fungsi dari **library Pandas** yang digunakan untuk menampilkan ringkasan lengkap dari DataFrame fardilladr_df. Ketika dijalankan, .info() akan menunjukkan jumlah baris dan kolom, nama-nama kolom, tipe data setiap kolom (seperti int, float, object), serta jumlah nilai yang tidak kosong (non-null) di tiap kolom. Dengan melihat output dari fardilladr_df.info(), kita bisa memahami struktur dataset secara menyeluruh dan mengetahui apakah ada kolom yang perlu dibersihkan atau diperbaiki sebelum masuk ke tahap analisis lebih lanjut.

In [ ]:
fardilladr_df['nilai_akhir'] = fardilladr_df['nilai_akhir'].fillna(88)

Digunakan untuk **mengisi nilai kosong (missing values)** pada kolom nilai_akhir dengan angka **88**. Perintah ini berasal dari library Pandas, di mana fillna(88) berfungsi mengganti semua nilai NaN pada kolom tersebut dengan 88. Tujuannya adalah agar kolom nilai_akhir tidak memiliki data kosong, sehingga proses analisis seperti perhitungan rata-rata atau visualisasi bisa dilakukan dengan benar dan akurat.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

fardilladr_df.isna().sum() digunakan untuk mengecek kembali jumlah nilai kosong di setiap kolom pada DataFrame fardilladr_df setelah proses pembersihan data dilakukan.

In [ ]:
fardilladr_df['kehadiran_pct'] = pd.to_numeric(fardilladr_df['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

fardilladr_df['kehadiran_pct'].mean()

np.float64(82.13235294117646)

Fungsi pd.to_numeric() dari library Pandas akan mencoba mengubah setiap nilai dalam kolom tersebut menjadi tipe data numerik (float). Jika ada data yang tidak bisa dikonversi (misalnya tulisan atau simbol), opsi errors='coerce' akan otomatis mengubahnya menjadi NaN, sehingga tidak mengganggu proses penghitungan. Setelah datanya valid sebagai angka, baris berikutnya fardilladr_df['kehadiran_pct'].mean() digunakan untuk menghitung rata-rata dari kolom nilai_akhir.

In [ ]:
fardilladr_df['kehadiran_pct'] = fardilladr_df['kehadiran_pct'].fillna(82)

Kode tersebut mengisi semua nilai **NaN** pada kolom **'kehadiran_pct'** dengan angka **82**. Proses ini dilakukan dengan fungsi .fillna(82), sehingga seluruh nilai NaN pada kolom tersebut otomatis digantikan oleh angka 82.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

fardilladr_df.isna().sum() digunakan untuk mengecek kembali jumlah nilai kosong di setiap kolom pada DataFrame fardilladr_df setelah proses pembersihan data dilakukan.

In [ ]:
fardilladr_df['tanggal_daftar'] = fardilladr_df['tanggal_daftar'].fillna('2024-03-24')

Kolom **tanggal_daftar** masih berupa string sehingga tidak dapat dihitung rata-ratanya, jadi untuk menangani nilai kosong, kita cukup mengisinya dengan tanggal default seperti **"2004-03-24"** menggunakan .fillna(), sehingga semua missing value langsung terisi.

In [ ]:
fardilladr_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

fardilladr_df.isna().sum() digunakan untuk mengecek kembali jumlah nilai kosong di setiap kolom setelah proses pembersihan data, dan karena hasilnya menunjukkan tidak ada lagi missing value, kita bisa melanjutkan analisis

In [ ]:
fardilladr_df.jurusan.value_counts()

jurusan
Energi               21
Informatika          17
Teknik               12
Manajemen Energi     11
Pembangkit Energi     2
teknik                1
 energi               1
ManajemenEnergi       1
EnErGi                1
Teknik                1
ENG                   1
ENERGI                1
Name: count, dtype: int64

Fungsi kode fardilladr_df.jurusan.value_counts() adalah untuk menghitung berapa banyak kemunculan setiap kategori pada kolom jurusan.
Jadi, kode ini menampilkan jumlah masing-masing jurusan yang ada di dalam dataset, sehingga kita bisa melihat seberapa sering tiap jurusan muncul.

In [ ]:
fardilladr_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Fungsi kode fardilladr_df.umur.value_counts() adalah untuk menghitung jumlah kemunculan setiap nilai umur di dalam kolom umur.
Dengan kata lain, kode ini menampilkan berapa banyak peserta yang memiliki umur tertentu.

In [ ]:
fardilladr_df['jurusan'] = fardilladr_df['jurusan'].str.lower().str.strip()

Kode fardilladr_df['jurusan'] = fardilladr_df['jurusan'].str.lower().str.strip() berfungsi untuk membersihkan format teks pada kolom jurusan.
Bagian .str.lower() mengubah semua huruf menjadi lowercase, sedangkan .str.strip() menghapus spasi di awal dan akhir teks.
Tujuannya agar penulisan jurusan menjadi konsisten, sehingga kategori yang sama tetapi ditulis berbeda-beda bisa disatukan.

In [ ]:
fardilladr_df.jurusan.value_counts()

jurusan
energi               24
informatika          17
teknik               14
manajemen energi     11
pembangkit energi     2
manajemenenergi       1
eng                   1
Name: count, dtype: int64

Fungsi kode fardilladr_df.jurusan.value_counts() adalah untuk menampilkan jumlah masing-masing kategori jurusan setelah dibersihkan.
Kode ini menghitung berapa kali setiap jurusan muncul di kolom jurusan, sehingga kita bisa melihat distribusi data secara lebih rapi dan konsisten setelah proses normalisasi (lowercase + strip).

In [ ]:
#untuk memudahkan replacing maka di buatkan mapping jurusan sesuai dengan yg di inginkan, dengan kata-kata yg mirip di masukan ke jurusan yg seusai

mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

Kode mapping_jurusan digunakan untuk menyediakan daftar aturan penggantian agar berbagai penulisan jurusan yang tidak konsisten bisa dipetakan ke satu nama jurusan yang benar. Dengan adanya mapping ini, proses *replace* menjadi lebih mudah karena setiap variasi tulisan sudah ditentukan harus berubah menjadi apa.
Hasilnya, kolom **jurusan** akan mempunyai kategori yang rapi, seragam, dan siap dipakai untuk analisis.

In [ ]:
fardilladr_df["jurusan"] = fardilladr_df["jurusan"].replace(mapping_jurusan)

berfungsi untuk mengganti setiap nilai di kolom jurusan berdasarkan aturan yang ada di dalam dictionary mapping_jurusan.

In [ ]:
fardilladr_df["jurusan"] = fardilladr_df["jurusan"].str.title()

#kembalikan menjadi huruf besar

Kode fardilladr_df["jurusan"] = fardilladr_df["jurusan"].str.title() berfungsi untuk mengubah setiap kata pada kolom jurusan menjadi format Title Case, yaitu huruf pertama tiap kata menjadi kapital dan sisanya huruf kecil.

In [ ]:
fardilladr_df.jurusan.value_counts()

jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Fungsi kode fardilladr_df.jurusan.value_counts() adalah untuk menghitung dan menampilkan jumlah data pada setiap kategori jurusan** setelah proses pembersihan atau pemetaan dilakukan.

Jadi, hasilnya menunjukkan **berapa banyak baris** yang termasuk ke masing-masing jurusan di dalam dataset.

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(fardilladr_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Menampilkan teks penjelas lalu menunjukkan **jumlah tiap jurusan** setelah proses normalisasi dan pemetaan dilakukan.

In [ ]:
fardilladr_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

kode ini menunjukkan berapa banyak orang pada tiap nilai umur dalam dataset.

In [ ]:
fardilladr_df['umur'] = fardilladr_df['umur'].replace('twenty', 20)
#bisa di lakuakn replace satu persatu seperti ini
# dari sebelumnya twenty menjadi 20

berfungsi untuk mengganti nilai teks "twenty" menjadi angka 20 pada kolom umur.
Tujuannya agar kolom umur tetap konsisten dalam bentuk numerik, sehingga tidak ada lagi nilai umur yang berupa huruf.

In [ ]:
print(fardilladr_df['umur'].value_counts())

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
20             1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

menampilkan jumlah kemunculan setiap nilai umur setelah data umur dibersihkan dan diseragamkan.

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

"mapping_umur = {\n    'twenty': 20,\n    '21years': 21,\n    'NaN_string': np.nan,\n    -5: np.nan,\n    120: np.nan,\n    150: np.nan\n}\n"

mapping_umur dipakai untuk menormalkan nilai umur, mengganti teks atau angka tidak wajar menjadi umur yang benar atau NaN, np.nan dipakai sebagai penanda nilai hilang (missing value) ketika sebuah data dianggap tidak valid, tidak masuk akal, atau tidak bisa diubah menjadi angka yang nantinya bisa diganti dengan rata-rata umur.

In [ ]:
fardilladr_df['umur'] = pd.to_numeric(fardilladr_df['umur'], errors='coerce')
fardilladr_df['umur'].mean()

np.float64(22.414285714285715)

Kode tersebut digunakan untuk mengubah kolom umur menjadi tipe numerik dengan pd.to_numeric, di mana nilai yang tidak bisa dikonversi akan otomatis menjadi NaN.
Setelah itu, fardilladr_df['umur'].mean() menghitung rata-rata umur sambil mengabaikan nilai NaN tersebut.

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

Mengganti nilai umur yang tidak valid (seperti "twenty", "21years", -5, 120, 150) menjadi nilai umur yang benar, yaitu 20, 21, atau rata-rata umur 25.

In [ ]:
fardilladr_df['umur'] = fardilladr_df['umur'].replace(mapping_umur)

Mengganti nilai umur yang tidak valid sesuai aturan yang ada di mapping_umur.
Jadi semua nilai seperti "twenty", "21years", -5, 120, dan 150 akan diubah menjadi umur yang benar (misalnya 20, 21, atau 25).

In [ ]:
print("Hasil setelah pemetaan:")
print(fardilladr_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {fardilladr_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
23.0    17
25.0    13
20.0    10
22.0    10
24.0     9
19.0     7
21.0     4
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: float64

- print("Hasil setelah pemetaan:") menampilkan judul agar output lebih mudah dibaca.

- print(fardilladr_df['umur'].value_counts()) menampilkan jumlah setiap umur setelah dilakukan pemetaan menggunakan mapping_umur.

- print(f"\nTipe data kolom 'umur' sekarang: {fardilladr_df['umur'].dtype}") digunakan untuk mengecek tipe data kolom umur setelah proses pemetaan, apakah sudah sesuai (biasanya integer atau float).

Jadi, seluruh kode ini dipakai untuk melihat hasil akhir data umur setelah dibersihkan dan memastikan tipe datanya sudah benar

In [ ]:
fardilladr_df.isna().sum()
#ternyata terdapat 2 nilai yang NaN pada kolom umur

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64



Kode ini digunakan untuk **menampilkan jumlah nilai kosong (NaN)** di setiap kolom dalam DataFrame **fardilladr_df**.
Tujuannya adalah memastikan apakah masih ada missing value setelah proses pembersihan dan pemetaan yang sudah dilakukan.

In [ ]:
fardilladr_df.head(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17

Menampilkan 50 baris pertama dari DataFrame fardilladr_df.

In [ ]:
fardilladr_df.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,22.0,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26
55,E0056,Edo,Pembangkit Energi,23.0,88.0,98.0,2024-03-21
56,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
57,E0058,Gita,Pembangkit Energi,24.0,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21.0,88.0,85.0,2024-05-02
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-08-22
61,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-08-22
62,E0063,Lutfi,Pembangkit Energi,19.0,76.5,97.0,2024-05-15
63,E0064,Mega,Pembangkit Energi,21.0,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,23.0,72.5,99.0,2024-12-26
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

Menampilkan 50 baris terakhir dari DataFrame fardilladr_df.
Kode ini biasanya dipakai untuk mengecek data bagian bawah setelah proses pembersihan atau transformasi dilakukan.

In [ ]:
fardilladr_df['umur'].mean() #mencari rata-rata

np.float64(22.414285714285715)

Menghitung nilai rata-rata (mean) dari kolom umur.
Perhitungan ini otomatis **mengabaikan nilai NaN**, sehingga hasil yang muncul adalah rata-rata dari umur yang valid saja.

In [ ]:
fardilladr_df['umur'] = fardilladr_df['umur'].fillna(22) #isi dengan nilai rata-rata

Berfungsi untuk mengisi semua nilai umur yang masih kosong (NaN) dengan angka 22, yaitu nilai rata-rata umur yang sudah dihitung sebelumnya.

In [ ]:
fardilladr_df.duplicated().sum()

np.int64(0)

Menghitung jumlah baris duplikat di DataFrame. Didapati 0 duplikat pada baris DataFrame

In [ ]:
fardilladr_df.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,22.0,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26

Menampilkan 55 baris pertama dari DataFrame fardilladr_df.
Tujuannya agar kamu bisa melihat hasil data setelah pembersihan atau pengecekan, khususnya bagian awal dataset.

In [ ]:
fardilladr_df.tail()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

fardilladr_df.tail() digunakan untuk **menampilkan 5 baris terakhir** dari DataFrame.
Tujuannya untuk melihat data bagian akhir setelah proses pembersihan atau perubahan dilakukan.

In [ ]:
fardilladr_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     float64
 4   nilai_akhir     70 non-null     float64
 5   kehadiran_pct   70 non-null     float64
 6   tanggal_daftar  70 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.4+ KB

kode ini dipakai untuk melihat kondisi keseluruhan DataFrame, apakah kolom sudah bersih, tipe datanya benar, dan apakah masih ada missing value. dan dapat dilihat pada info, maka semua jumlah data sama yaitu 70, maka proses Pembersihan data sudah selesai

In [ ]:
fardilladr_df.to_csv("fardilladr_clean.csv", index=False)

Menyimpan DataFrame yang sudah dibersihkan ke dalam file CSV dengan nama fardilladr_clean.csv.
Parameter index=False dipakai agar data tidak ikut menyimpan nomor indeks pada file CSV, sehingga hasilnya lebih rapi saat dibuka.

In [ ]:
from google.colab import files
files.download("fardilladr_clean.csv")

Digunakan untuk mengunduh file fardilladr_clean.csv dari lingkungan Google Colab ke komputer lokal. Setelah dijalankan, browser akan menampilkan dialog download sehingga file bisa disimpan langsung ke perangkat pengguna.